*,
*::before,
*::after{
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #303030;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container__fluid {
    max-width: 1720px;
    margin: 0 auto;
    overflow: hidden;
}

/*header*/
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}
.header__text {
    margin: 0 auto 0 30px;
    font-size: 16px;
    color: #9a9a9a;
}
.header__phone {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
}
.header__phone a {
    color: #303030;
    text-decoration: none;
}
.header__phone a:before {
    content: "";
    position: absolute;
    top: 1px;
    left: -25px;
    width: 16px;
    height: 16px;
    background-image: url("../images/phone.svg");
}
.header__phone-text {
    padding-top: 3px;
    font-weight: 400;
    font-size: 12px;
    color: #9a9a9a;
}

/*top*/
.top {
    margin-bottom: 75px;
}
.top__images {
    max-width: 1720px;
    min-height: 545px;
    margin: 0 auto;
    background: url("../images/top-bg.jpeg") no-repeat center;
    background-size: cover;
}
.top__wrapper {
    margin-top: -450px;
}
.top__inner {
    display: flex;
    justify-content: space-between;
}
.top__inner-img {
    margin-left: 145px;
}
.top__inner-form {
    max-width: 570px;
    width: 100%;
}
.top__inner-suptitle {
    margin: 70px 0 25px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
}
.top__inner-title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 60px;
    color: #fff;
}
.top__inner-text {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.top-form {
    padding: 20px;
    background-color: #fff;
}
.top-form form {
    position: relative;
    border: 1px solid #c8dcba;
}
.top-form__inner {
    padding: 50px 50px 118px 50px;
}
.top-form__title {
    width: 190px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.top-form input {
    width: 195px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: none;
    border-bottom: 1px solid #c8dcba;
    outline: none;
}
.top-form input::placeholder,
.history__form input::placeholder {
    color: #c8dcba;
}
.top-form input + input {
    margin-left: 30px;
}
.form__btn {
    position: relative;
    width: 250px;
    height: 60px;
    padding: 22px 110px 22px 70px;
    border: none;
    background-color: #7eb252;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}
.top-form button {
    position: absolute;
    right: 0;
    bottom: 0;
}
.form__btn:after,
.list__link a:after,
.popularity__box-link:after {
    position: absolute;
    top: 25px;
    right: 60px;
    content: "";
    width: 31px;
    height: 9px;
    background: url("../images/arrow-right.png");
}

/* advantages*/
.advantages {
    margin-bottom: 200px;
}
.advantages__inner {
    display: flex;
    justify-content: space-around;
}
.advantages__item {
    position: relative;
    width: 241px;
    padding: 35px 0 0 40px;
}
.advantages__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 5px solid rgba(123, 178, 82, .3);
    border-radius: 50%;
}
.advantages__item-number {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #a4c58c;
    border-bottom: 3px solid #a4c58c;
}
.advantages__item-number span {
    font-size: 30px;
}
.advantages__item-text {
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
}

/*list*/
.list__title {
    max-width: 470px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.list__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    background-color: #f6f9f3;
}
.list__inner:before,
.list__inner:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f9f3;
}
.list__inner:before {
    left: 100%;
}
.list__inner:after {
    right: 100%;
}
.tabs {
    width: 100%;
    padding-right: 20px;
}
.tabs__content {
    margin-top: -170px;
    position: relative;
    min-width: 500px;
    height: 689px;
    background: url("../images/list-images.png") no-repeat top center;
    background-size: cover;
}
.tab {
    display: flex;
    align-items: center;
    padding: 24px 40px 24px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #e6efde;
    cursor: pointer;
}
.tab.active {
    position: relative;
}
.tab.active:after {
    content: "";
    position: absolute;
    right: 25px;
    width: 9px;
    height: 14px;
    background: url("../images/chevron.svg");
}
.tab span {
    margin-right: 18px;
    color: #a4c58c;
}
.tab-item {
    position: absolute;
    display: none;
    width: 43px;
    height: 43px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    background-color: #a5c98a;
    border: 9px solid rgba(255, 255, 255, .8);
    border-radius: 50%;
}
.tab-item:first-child {
    display: block;
}
.item-1 {
    top: 182px;
    left: 150px;
}
.item-2 {
    top: 235px;
    left: 305px;
}
.item-3 {
    top: 135px;
    left: 227px;
}
.item-4 {
    top: 210px;
    left: 227px;
}
.item-5 {
    top: 15px;
    left: 227px;
}
.item-6 {
    top: 350px;
    left: 260px;
}
.item-7 {
    top: 20px;
    left: 227px;
}
.item-8 {
    top: 173px;
    left: 227px;
}
.item-9 {
    top: 100px;
    left: 228px;
}
.tabs__box {
    display: flex;
    flex-wrap: wrap;
}
.tabs__box .tab {
    display: flex;
    align-items: center;
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.tabs__box .tab span {
    font-size: 12px;
}
.tabs__box .tab:first-child,
.tabs__box .tab:nth-child(3) {
    padding-right: 25px;
    border-right: 1px solid #e6efde;
}
.tabs__box .tab:last-child,
.tabs__box .tab:nth-child(2) {
    padding-left: 25px;
}
.tabs__box .tab.active:after {
    display: none;
}
.tabs__reviews {
    position: absolute;
    bottom: -20px;
    max-width: 430px;
    padding: 20px;
    background-color: #f6f9f3;
}
.tabs__reviews-inner {
    padding: 30px 50px 30px 40px;
    border: 1px solid #a5c98a;
}
.tabs__reviews-text {
    line-height: 24px;
}
.tabs__reviews-link {
    position: absolute;
    bottom: 10px;
    padding: 0 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #7eb252;
    background-color: #f6f9f3;
}
.list__link {
    display: flex;
    justify-content: flex-end;
}
.list__link a {
    position: relative;
    width: 500px;
    height: 70px;
    margin-top: 20px;
    padding: 30px 145px 30px 124px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #7eb252;
    outline: none;
}
.list__link a:after {
    top: 31px;
    right: 95px;
}
.popularity {
    padding-top: 200px;
}
.popularity__wrapper {
    min-height: 645px;
    background: url("../images/popularity.png") no-repeat left;
}
.popularity__inner {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.popularity__right {
    max-width: 500px;
    width: 100%;
    margin-left: 69px;
    padding-right: 15px;
}
.popularity__right-title {
    margin-top: 90px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.popularity__right-subtitle {
    padding: 50px 0;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.popularity__right-list {
    list-style: none;
}
.popularity__right-list li {
    position: relative;
    margin-bottom: 45px;
    padding-left: 40px;
    line-height: 22px;
}
.popularity__right-list li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 9px;
    height: 14px;
    background-image: url("../images/chevron.svg");
    transform: translateY(-50%);
}
.popularity__box {
    padding: 20px;
    background-color: #fff;
}
.popularity__box-text {
    padding: 30px 55px 30px 30px;
    border: 1px solid #c8dcba;
}
.popularity__box-link {
    position: absolute;
    padding: 22px 86px 22px 27px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #7eb252;
    outline: none;
}
.popularity__box-link:after {
    right: 40px;
}

/*history*/
.history {
    margin-bottom: 200px;
    padding-top: 270px;
}
.history__wrapper {
    min-height: 920px;
    background: url("../images/alonco.png") no-repeat right center;
}
.history__title {
    max-width: 570px;
    padding: 105px 0 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.history__text {
    position: relative;
    max-width: 700px;
    padding: 70px 30px 75px 0;
    background-color: #f6f9f3;
}
.history__text:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 275px;
    height: 100%;
    background-color: #f6f9f3;
}
.history__text p {
    margin: 15px 0;
}
.history__form {
    max-width: 400px;
    margin-left: 200px;
    padding-left: 30px;
}
.history__form-title {
    margin: 47px 0 30px;
    padding-right: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}
.history__form input {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #cddcbc;
    outline: none;
}
.history__form button {
    width: 100%;
    margin-top: 32px;
}
